/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body, aside {
    background: #112f41; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid;
    background: #065a5b;
}

/* --- ADD YOUR STYLES BELOW --- */

header, footer {
    background: #84061b; /* must change */
}
figure {
    background: #841d0b; /* must change */
}
/* --- add your PSEUDO CLASSES below this line --- */

a:link {
  color: #baef57;
}
a:visited {
  color: #f7e0ff;
}
a:focus {
  color: #ffdbb8;
  outline-color: #ffdbb8;
  text-decoration: none;
}
a:hover {
  color: #cee9d9;
  text-decoration: none;
}
a:active {
  color: #eedbff;
}
